:root {
    --background-color: #f6f8fa;
    --card-color: white;
    --card-border-color: #e1e4e8;
}

html {
    background-color: var(--background-color);
}

.title-text {
    border-radius: 10px;
    border-color: var(--card-border-color);
    background-color: var(--card-color);
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    margin: 10px;
    size: 1000px 200px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
}

.delete,.return {
    margin: 10px;
}