:root {
    --background-color: #f6f8fa;
    --card-color: rgb(78,78,78);
    --card-border-color: #e1e4e8;
}

html {
    background-color: var(--background-color);
}

a,p,div {
    text-decoration: none;
    margin: 10px 1px;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 1;   
}

.account_card {
    border-radius: 10px;
    border-color: var(--card-border-color);
    background-color: var(--card-color);
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    margin: 10px;
    margin-top: 120px;
    width: 70%;
    height: 25%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
}

.out_card, .delete_card, .caught_card {
    border-radius: 10px;
    border-color: var(--card-border-color);
    background-color: var(--card-color);
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    margin-bottom: 0;
    width: 30px;
    height: 30px;
    size: 0px 0px;
    align-items: center;
}

.additional_information_card {
    border-radius: 10px;
    border-color: var(--card-border-color);
    background-color: var(--card-color);
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    margin-top: 0;
    size: 0px 0px;
    align-items: center;
}

.account_card_service {
    justify-content: space-between;
    width: 100%;
    display: inline-flex;
}

.account_card_password {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 10px;
}

.out {
    height: 40px;
    content: url(/static/images/out.svg);
}

.delete {
    height: 40px;
    content: url(/static/images/delete.svg);
}

.caught {
    height: 40px;
    content: url(/static/images/settings.svg);
}

.copy {
    width: 20px;
    height: 20px;

    content: url(/static/images/copy.svg);
}

.icon {
    width: 20px;
    height: 20px;
}

.view-icon {
    content: url(/static/images/view.svg);
}

.no-view-icon {
    content: url(/static/images/no-view.svg);
}

.secret-text {
    -webkit-text-security:disc;
    /* this code not working on firefox */
}