:root {
    --background-color: #f6f8fa;
    --card-color: white;
    --card-border-color: #e1e4e8;
}

html {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: black;
}

.account_card {
    border-radius: 10px;
    border-color: var(--card-border-color);
    background-color: var(--card-color);
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    margin: 10px;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    
}

.create_card,.found_card,.menu_variant {
    border-radius: 10px;
    border-color: var(--card-border-color);
    background-color: var(--card-color);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
}
.account_card_container {
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));

    align-items: center;
    justify-content: center;
}

.account_card_password {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon_with_padding {
    margin-left: 10px;
}

.view-icon {
    content: url(/static/images/view.svg);
}

.no-view-icon {
    content: url(/static/images/no-view.svg);
}


.secret-text {
    -webkit-text-security:disc;
    /* this code not working on firefox */
}

.card_with_padding {
    display: inline-block;
}