:root {
    --background-color: #f6f8fa;
    --white-color: rgb(230, 230, 230);
    --card-border-color: #e1e4e8;
    --grey-color: rgb(76, 76, 76)
}

html {
    background-color: var(--background-color);
}

a, div {
    text-decoration: none;
    margin: 1px 1px;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.card_text, p {
    margin: 10px 5px;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.password_data {
    margin: 0px;
}

.option {
    transition-duration: 0.4s;
    border-color: rgb(255, 255, 255);
    border-radius: 0px;
    background-color: rgb(76, 76, 76);
    font-size: 40px;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 7px;
    margin: 15px 15px;
    align-items: center;
    align-content: center;
    border-style: solid;
    height: 40px;
    min-width: 200px;
    max-width: 300px;
    display: inline-block;
}

.account_card {
    border-radius: 10px;
    border-color: var(--card-border-color);
    background-color: var(--grey-color);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    padding-top: 0;
    margin: 10px;
    width: auto;
    min-width: 250px;
    font-size: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    
}

.menu {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 0;
    border-color: #111;
    padding-left: 55px;
    background-color: var(--grey-color);
    justify-content: space-between;
    display: inline-flex;
}

.login_button:hover, .registration_button:hover {
    transition-duration: 0.4s;
    color: var(--white-color);
    background-color:#111;
    border-color: #111;
}

.time {
    width: auto;
    height: auto;
    margin: auto 0;
    margin-right: 20px;
    background-color: var(--grey-color);
    color: rgb(255, 255, 255);
    font-size: 37px;
    display: inline-block;
}

.create_card,.found_card,.menu_variant {
    border-radius: 10px;
    border-color: var(--card-border-color);
    background-color: var(--card-color);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
}

.option:hover{
    transition-duration: 0.4s;
    color: var(--grey-color);
    background-color: rgb(255, 255, 255);
    border-color:  rgb(255, 255, 255);
}

.account_card_container {
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));

    align-items: center;
    justify-content: center;

    margin-top: 100px;
}

.account_card_password {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon_with_padding {
    margin-left: 10px;
}

.view-icon {
    content: url(/static/images/view.svg);
}

.no-view-icon {
    content: url(/static/images/no-view.svg);
}


.secret-text {
    -webkit-text-security:disc;
    /* this code not working on firefox */
}

.card_with_padding {
    display: inline-block;
}