<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/static/js/script.js" defer></script>
    <style src="/static/css/style.css"></style>
</head>
<body>
    <main>
        (% for account in accounts %)
        <div class="account_card">
            <div class="account_card_service">((account.service))</div>
            <div class="account_card_email">((account.email))</div>
            <div class="account_card_password">((account.password))</div>
        </div>
        (% endfor %)
    </main>
</body>