<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <style src="style.css"></style>
</head>
<body>
    <main>
        <div class="account_card_container">
            <div class="account_card">
                <div class="account_card_service">service name</div>
                <div class="account_card_email">email data</div>
                <div class="account_card_password">very secret password<img class="view-icon icon" /></div>
            </div>
            <div class="account_card">
                <div class="account_card_service">service name</div>
                <div class="account_card_email">email data</div>
                <div class="account_card_password">very secret password<img class="view-icon icon" /></div>
            </div>
            <div class="account_card">
                <div class="account_card_service">service name</div>
                <div class="account_card_email">email data</div>
                <div class="account_card_password">very secret password<img class="view-icon icon" /></div>
            </div>
            <div class="account_card">
                <div class="account_card_service">service name</div>
                <div class="account_card_email">email data</div>
                <div class="account_card_password">very secret password<img class="view-icon icon" /></div>
            </div>
            <div class="account_card">
                <div class="account_card_service">service name</div>
                <div class="account_card_email">email data</div>
                <div class="account_card_password">very secret password<img class="view-icon icon" /></div>
            </div>
            <div class="account_card">
                <div class="account_card_service">service name</div>
                <div class="account_card_email">email data</div>
                <div class="account_card_password">very secret password<img class="view-icon icon" /></div>
            </div>
            <div class="account_card">
                <div class="account_card_service">service name</div>
                <div class="account_card_email">email data</div>
                <div class="account_card_password">very secret password<img class="view-icon icon" /></div>
            </div>
        <div>
    </main>
</body>