<!doctype html >
<html lang="ru-RU"> 
    <head>
        <title>main</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type = "text/css" href="/static/css/style.css">
        <script src="/static/js/script.js" defer></script>
    </head>
<body>
    <div class = "menu">
        <container>
            <a href = "/"><span class = "option about menu_text">Главная</span></a>
            <a href = "/about"><span class = "option about menu_text">О нас</span></a>
        </container>
        <div class = " bold_text time">19:30</div>
    </div>
    <div class ="info">
        <img class = "icon">
        <p>Работаем 24/7</p>
        <p>Всегда поможем</p>
        <p>Надёжное шифрование</p>
        <p>Отзывчивая служба поддержки</p>
        <p>Полная гарантия конфиденциальности</p>
        <p>И это далеко не все пресущие нам качества!</p>
    </div>
    <!--<div class ="login_field">
        <big>Вход</big>
        <p>Ваш ник:     <input class = "name" type = text></p>
        <p>Пример: AlexeyProgrammer</p>
        <p>Ваш пароль:  <input class = "password" type = password></p>
        <p>Пример: GHict43-22</p>
        <p>Ваш телефон:  <input class = "telephone" type = "tel"></p>
        <p class = "telephone_primer" >Пример: 89876543210</p>
        <input class = "request_button" type = "button" value = "Подтвердить">
    </div>-->

    <div class = "choose_input">
        <a href="/login" class = "login">
            <span class = "input_text bold_text login_button">Вход</span>
        </a>

        <a href="/registration" style="width: 100%;">
            <span class = "input_text bold_text registration_button">Регистрация</span>
        </a>    
    </div>
</body>