<!doctype html >
<html lang="ru-RU"> 
    <head>
        <title>main</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type = "text/css" href="/static/css/passwords.css">
        <script src="/static/js/passwords.js" defer></script>
    </head>
<body>
    <a href = "/create?UID={{UID}}"><div class="create_card">Создать аккаунт</div></a>
    <div class = "found_card search"><input class = "search" type="text" width="200px"> <input type="button" value = "Искать" class="found_button search"></div>
    <div class = "menu_variant style_toogle" title = "Изменить компановку"><big><img class="style_toogle" src="/static/images/style-toggle.png" title = "Изменить компановку"></big></div>
    <p></p>
    <div class = "account_card_container"> 
        {% for data in pack_data %}
            <a href = "/details?service={{data[0]}}&email={{data[1]}}&password={{data[2]}}&id={{data[3]}}&date_changes={{data[4]}}&UID={{data[5]}}">
                <div class = "account_card card_data card_with_padding">
                    <div class="account_card_service card_data">{{data[0]}}</div>
                    <div class="account_card_email card_data">{{data[1]}}</div>
                    <div class="account_card_password secret-text card_data">
                        <div class = "card_data password_data">{{data[2]}}</div></a>
                        <img class="no-view-icon icon icon_with_padding">
                    </div>
                </div>     
        {% endfor %}
    </div>
</body>