<!doctype html >
<html lang="ru-RU"> 
    <head>
        <title>details</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type = "text/css" href="/static/css/password_see.css">
        <script src="/static/js/password_see.js" defer></script>
    </head>
    <body>
        <div class = "account_card" id="{{data[3]}}">
            <p class="account_card_service">Имя сервиса: {{data[0]}}<img class="copy" title = "Копировать пароль"></p>Email: {{data[1]}}
            <p>Пароль:</p>
            <div class="secret-text account_card_password">
                <div class = password-text>{{data[2]}}</div>
                <img title = "Просмотреть/скрыть пароль" class="no-view-icon icon"></div>
            </div>
        </div>
    <a href = "/main?UID={{data[5]}}" title = "На главную">
        <div class ="out_card">
            <img title = "На главную" class = "out">
        </div>
    </a>
    <a>
        <div class ="caught_card">
            <img title = "Изменить аккаунт" class = "caught"></div>
    </a>
    <a href = "/del?id={{data[3]}}&UID={{data[5]}}">
        <div class ="delete_card">
        <img title = "Удалить аккаунт" class = "delete"></div>
    </a>
    <p>
        <div class = "additional_information_card">Дата изменения(год/месяц/день/час/минута/секунда): {{data[4]}}</div>
    </p>
    </body>
</html>