<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/registration.css">
    <script src="/static/js/registartion.js" defer></script>
    <title>regisration</title>
</head>
<body>
    <div class = "menu">
        <container>
            <a href = "/"><span class = "option about bold_text">Главная</span></a>
            <a href = "/about"><span class = "option about bold_text">О нас</span></a>
        </container>
        <div class = "time bold_text">time</div>
    </div>
    <div class = "login_field">
        <big>Регистрация:</big>
        <p>Ваш ник:     <input class = "name input" type = text width="350px"></p>
        <p>Пример: AlexeyProgrammer</p>
        <p>Ваш пароль:  <input class = "password input" type = password width="320px"></p>
        <p>Пример: GHict43-22</p>
        <p>Ваш телефон:  <input class = "telephone input" type = "tel" width="320px"></p>
        <p class = "telephone_primer" >Пример: 89876543210</p>
        <input class = "request_button" type = "button" value = "Подтвердить">
    </div>
</body>
</html>