:root {
    --background-color: #f6f8fa;
    --card-color: white;
    --card-border-color: #e1e4e8;
}

html {
    background-color: var(--background-color);
}

.account_card {
    border-radius: 10px;
    border-color: var(--card-border-color);
    background-color: var(--card-color);
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    margin: 10px;
}

.account_card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    align-items: center;
    justify-content: center;
}

.account_card_password {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.secret-text {
    -webkit-text-security:disc;
    /* this code not working on firefox */
}

.icon {
    width: 20px;
    height: 20px;
}

.view-icon {
    content: url(./view.svg);
}

.no-view-icon {
    content: url(./no-view.svg);
}